@import 'styles/modules/variables';

.cursor {
  position: absolute;
  background-color: $primary;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  transform: scale(1);

  &.active {
    opacity: 0.5;
    transform: scale(5);
  }

  &.hovered {
    opacity: 0.08;
  }
}
