@import 'modules/variables';

html {
  --purple: #f5ebff;
  --primary: #5851f9;
  --text: #000;
  --yellow: #f7df1e;
  --blue: #2965f1;
  --darkgray: #222831;
  --beige: #eee;
  --secondary: #f5ebff;
  --lightpurple: #f0efff;
  --whitestrip: #fafafa;
  --backStripcolor: #000;
}

html.dark {
  --primary: #b55400;
  --text: var(--beige);
  --secondary: var(--darkgray);
  --whitestrip: #f7df1e;
}

@import 'modules/font';
@import 'modules/default';

@import '../components/CustomCursor/customCursor.scss';

.backStrip {
  background-color: var(--whitestrip);
  color: var(--backStripcolor);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}
